.profile_body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.user_courses_list{
    margin-left: 30%;
    transform: translateY(-15rem);
}

.links_mainprofile{
    margin-top: 4%;
    margin-left: 5%;
    display: flex;
flex-direction: column;
flex-wrap: wrap;
}

.link_mainprofile{
    margin-top: 2%;
    text-decoration: none;
    color: black;
    font-size: 24px;
    width:fit-content ;
}

.link_mainprofile:hover{
    color:#56D2F8;
}

.link_education{
    font-size: 20px;
}

.left_back_profile{
    margin-top: 18rem;
    left: 0;
    width: 8rem;
    position: absolute;
    z-index: -1;
}

.deleteBtn{
    cursor: pointer;

}