.links_mainprofile{
    margin-top: 4%;
    margin-left: 5%;
    display: flex;
flex-direction: column;
flex-wrap: wrap;
position: relative;
height: 35vh;
}

.link_mainprofile{
    margin-top: 2%;
    text-decoration: none;
    color: black;
    font-size: 24px;
    width:fit-content ;
}

.link_mainprofile:hover{
    color:#56D2F8;
}

.link_education{
    font-size: 2rem;
    margin-left: 2rem;
    transform: translateY(2rem);
}