body{
    background-image: none;
  }
  header{
    display: inline-flex;
    font-family: Montserrat Alternates;
    width: 99%;
    align-items: center;
  }
 
.user_botton{
  color: white;
  background-color: #56d2f8;
  border-radius: 20px;
    height: 35px;
    justify-content: center;
    padding: 7px 17px 1px 17px;
    text-decoration: none;
    margin-right: 10px;
}

  .left_header{
    float: left;
    margin-left: 6%;
    width: fit-content;
  }
  
  .top_left_header{
    width: fit-content; 
    margin-top: 30px;
    display: inline-block;
  }
  .grom{
    height: 40px;
    width: 40px;
    transform: translateY(15px);
  }
  
  .left_header_links{
    margin-left: 55px;
    text-decoration: none;
    color: #000000;
  }
  
  
  .header_links svg{
    margin-left: 8px;
    width: 13px;
    height: 7px;
    transform: translateY(-2px)
  }
  
  
  .down_left_header{
    margin-top: 35px; 
  }
  
  .logo{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(30px);
  }
  
  
  .first_down_link{
    text-decoration: none;
    color: #000000;
  }
  
  .right_header{
    float: right;
    margin-top: 47px;
    margin-left: auto;
    margin-right: 6%;
    
  }
  
  
  
  
  
  .reg_button{
    align-items: center;
    background-color: #ffffff;
    border: 2px solid;
    border-color: #f87c56;
    border-radius: 20px;
    height: 35px;
    padding: 7px 20px;
    color: #190c09;
    font-family: "Montserrat Alternates", Helvetica;
    width: fit-content;
    text-decoration: none;
    max-width:468px;
  }
  .login_button{
    max-width:468px;
    color: #000000;
    align-items: center;
    background-color: #56d2f8;
    border-radius: 20px;
    height: 35px;
    justify-content: center;
    padding: 7px 20px;
    top: 30px;
    text-decoration: none;
    margin-right: 10px;
  }
  
  @media (min-width: 480px) and (max-width: 600px) {
    header {
      font-size: 15px;
    }
  }
  .search{
    width: 130%;
  }
  
  .search_line{
    height: 25px;
    
    margin-top: 30px;
    width: 75%;
    border: 2px solid;
    border-color: #56d2f8;
    border-radius: 20px;
    font-family: "Montserrat Alternates", Helvetica;
    justify-content: center;
    align-items: center;
    
  }
  
  .loupe{
    position: absolute;
    background-color: white;
    width: 18px;
    height: 17px;
    transform: translate( 1640%, 210%);
    z-index: 2;
    
    }