.iconCourse{
    width: 10rem;
    height: 10rem;
    transform: translateY(2rem);
    margin-left: 2rem;
}

.MainCoursePage{
    margin-top: 5rem;
    margin-left: 8rem;
}

.link_course{
    font-size: 1rem;
    font-weight: bold;
}