.courseCard{
    width: 21rem;
    height: 9rem;
    display: inline-block;
    border: 2px solid #56D2F8;
    border-radius: 20px;
    padding-left: 1rem;
    cursor: pointer;
    margin: 2rem;
}
.courseCard h4{
    height: 3rem;
}
.courseCard p {
    font-size: 0.7rem;
}
