@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<form class="form-container">
    <h1>Login</h1>


    <label>Email<span style="color:red;">*</span></label>
    <input type="email" id="EmailForLogIn" class="form-control" placeholder="Email">
    <br />
    <label>Password<span style="color:red;">*</span></label>
    <input type="password" id="PasswordForLogIn" class="form-control" placeholder="Password">
    <br />


    <button type="button" onclick="LoginUser()" class="btn">Login</button>
</form>