@{
    ViewData["Title"] = "Page Registration";
}



<form style="display:inline-block" class="form-container">
    <h1>Registration</h1>

    
    <div style="display:inline-block">
        <label>Email<span style="color:red;">*</span></label>
        <input type="text" id="EmailForReg" class="form-control" placeholder="Email">

        <label>Name<span style="color:red;">*</span></label>
        <input type="text" id="NameForReg" class="form-control" placeholder="Name">

        <label>Surname<span style="color:red;">*</span></label>
        <input type="text" id="SurnameForReg" class="form-control" placeholder="Surname">

        <label>Telephone<span style="color:red;">*</span></label>
        <input type="text" id="TelephoneForReg" class="form-control" placeholder="Telephone">

        <label>Password<span style="color:red;">*</span></label>
        <input type="password" id="PasswordForReg" class="form-control" placeholder="Password">

        <label>Repeat password<span style="color:red;">*</span></label>
        <input type="password" id="ConfirmPassForReg" class="form-control" placeholder="ConfirmPass">
        
        <button type="button" onclick="RegistrationUser()" class="btn">Reg</button>
    </div>
</form>