.courseView{
    
    background-color: #F6FEF8;
}
.unitView{
    margin-top: 2.5rem;
    background-color: white;
    border: 0px;
    width: 60rem;
}
.unitName{
    height: 1rem;
    margin-top: 1rem;
}


.materials{
    text-decoration: none;
    margin-left: 1rem;
    color: black;
    width: fit-content;
}

.materials:hover{
    color: #56D2F8;

}
.unitNameBlock{
    margin-left: 2rem;
}

.ph_pencil{
    transform: translateY(0.5rem)
}

.editUnitName{
    display: inline-block;
    
}

.ph_pencil{
    display: inline-block;
}

.ic_for_add{
    width: fit-content;
    float: right;
}
.addButton{
    cursor: pointer;
    height: 1rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-right: 5rem;
    width: 13rem;
    border-radius: 1rem;
border: 1px solid #56D2F8;
background: #FFF;
text-align: left;
height: 1.7rem;
}

.addButtons{
    width: fit-content;
    float: right;
}